@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
  --purple: #5855FC;
  --huepurple: #322EFF;
  --blue: #2F80ED;
  --white: #FFFFFF;
  --grey: #e9e9e9;
  --darkgrey: #333333;
  --orange: #F8D147;
  --orangehue: #FF6240;
  --purple-button: linear-gradient(180deg, var(--purple) 0%, var(--huepurple) 100%);
  --orange-button: linear-gradient(180deg, var(--orange) 0%, var(--orangehue) 100%);
}

* {
  margin: 0;
  font-family: "Roboto";
  color: var(--darkgrey);
}

.navbar {
  max-width: 1500px;
  margin: 40px auto;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 20px;
}

.navbar .links {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}

.navbar img {
  width: 120px;
  margin: 0 0;
}

.navbar .logo {
  justify-self: left;
  align-self: center;
  grid-column: span 4;
  margin-left: 45px;
}

.navbar .button:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--purple);
}

.navbar .createbutton {
  background-image: var(--purple-button);
  color: #fff;
  justify-self: center;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  position: relative;
  text-decoration: none;
}

.navbar .createbutton::before {
  background-image: var(--orange-button);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s linear;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  border-radius: 64px;

}

.navbar .createbutton:hover::before {
  text-decoration: none;
  opacity: 1;
  
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
}

.home .home-text {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.home .home-text h1 {
  font-weight: 500;
  font-size: 40px;
  align-self: end;
  padding-bottom: 20px;
}

.home .home-text p {
  font-weight: 300;
  font-size: 25px;
  line-height: 37.5px;
  align-self: center;
}

.home .home-text .createbutton {
  background-image: var(--purple-button);
  color: #fff;
  border: none;
  align-self: center;
  padding: 20px 40px;
  justify-self: left;
  border-radius: 64px;
  font-weight: 400;
  font-size: 28px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.home .home-text .createbutton::before {
  background-image: var(--orange-button);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s linear;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 64px;
}

.home .home-text .createbutton:hover::before {
  opacity: 1;
}

.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.project-preview h2 {
  font-size: 20px;
  color: #fc0330;
  margin-bottom: 8px;
}

.project-preview a {
  text-decoration: none;
}


.createproject {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.createproject label {
  text-align: left;
  display: block;
}

.createproject h2 {
  font-size: 20px;
  color: #fc0330;
  margin-bottom: 30px;
}

.createproject input, .createproject textarea, .createproject select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.createproject button {
  background: #fc0330;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.comps-container {
  display: grid;
  max-width: 600px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

.comps {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10px;
}

.comps.top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.comps label {
  align-self: center;
}

.comps li {
  text-align: left;
}

.comps button {
  width: 100px;
  justify-self: right;
}

.project-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-details-container h1 {
  padding-bottom: 5px;
  font-size: 30px;
}

.project-details-container .project-id {
  justify-self: right;
  align-self: end;
  color: #bdbdbd
}

.project-desc {
  grid-column: span 2;
}

.project-status {
  grid-column: span 2;
  justify-self: right;
  align-self: center;
  padding-bottom: 5px;
  
}

.project-details-container h2 {
  padding-bottom: 5px;
}

.project-edit {
  grid-column: span 2;
  justify-self: right;
  align-self: center;
}

.project-screens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.project-screens div p {
  margin-top: 5px;
}

.actionbuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.actionbuttons button {
  width: 200px;
  justify-self: center;
  background-color: #02c292;
  border: 0px;
  border-radius: 5px;
  color: white;
  height: 50px;
  font-size: 15px;
  margin-bottom: 20px;
}

.actionbuttons button:hover {
  cursor: pointer;
}

.actionbuttons .delete {
  background-color: #e9003a;
}