@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #fc0330;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  background-color: #fc0330;
  color: white
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.project-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.project-preview h2 {
  font-size: 20px;
  color: #fc0330;
  margin-bottom: 8px;
}

.project-preview a {
  text-decoration: none;
}


.createproject {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.createproject label {
  text-align: left;
  display: block;
}

.createproject h2 {
  font-size: 20px;
  color: #fc0330;
  margin-bottom: 30px;
}

.createproject input, .createproject textarea, .createproject select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.createproject button {
  background: #fc0330;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.comps-container {
  display: grid;
  max-width: 600px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

.comps {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10px;
}

.comps.top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.comps label {
  align-self: center;
}

.comps li {
  text-align: left;
}

.comps button {
  width: 100px;
  justify-self: right;
}

.project-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-details-container h1 {
  padding-bottom: 5px;
  font-size: 30px;
}

.project-details-container .project-id {
  justify-self: right;
  align-self: end;
  color: #bdbdbd
}

.project-desc {
  grid-column: span 2;
}

.project-status {
  grid-column: span 2;
  justify-self: right;
  align-self: center;
  padding-bottom: 5px;
  
}

.project-details-container h2 {
  padding-bottom: 5px;
}

.project-edit {
  grid-column: span 2;
  justify-self: right;
  align-self: center;
}

.project-screens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.project-screens div p {
  margin-top: 5px;
}

.actionbuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.actionbuttons button {
  width: 200px;
  justify-self: center;
  background-color: #02c292;
  border: 0px;
  border-radius: 5px;
  color: white;
  height: 50px;
  font-size: 15px;
  margin-bottom: 20px;
}

.actionbuttons button:hover {
  cursor: pointer;
}

.actionbuttons .delete {
  background-color: #e9003a;
}